/* @keyframes glowing {
  0% {
    background-color: #3b82f6;
    box-shadow: 0 0 5px #3b82f6, 0 0 25px #3b82f6, 0 0 50px #3b82f6,
      0 0 100px #3b82f6;
  }
  50% {
    background-color: #2563eb;
    box-shadow: 0 0 10px #2563eb, 0 0 50px #2563eb, 0 0 100px #2563eb,
      0 0 200px #2563eb;
  }
  100% {
    background-color: #3b82f6;
    box-shadow: 0 0 5px #3b82f6, 0 0 25px #3b82f6, 0 0 50px #3b82f6,
      0 0 100px #3b82f6;
  }
}

.glowing-effect {
  animation: glowing 3s infinite;
} */

@keyframes glowing {
  0% {
    background-color: blue;
    box-shadow: 0 0 10px #3b82f6, 0 0 25px #3b82f6, 0 0 40px #3b82f6;
  }
  50% {
    background-color: purple;
    box-shadow: 0 0 15px purple, 0 0 30px purple, 0 0 60px #2563eb;
  }
  100% {
    background-color: blue;
    box-shadow: 0 0 10px green, 0 0 25px green, 0 0 40px #3b82f6;
  }
}

.glowing-effect {
  animation: glowing 3s infinite;
}
