@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-effect {
  position: relative;
  display: inline-block;
  background-clip: text;
}

.underline-effect::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  background-color: #2563eb;
  border-radius: 2px;
}
